<h1>
If today were the last day of my life,
would I want to do what I am about to do today?
「遺言」じゃなくて、「今」がよくない？

</h1>
<div class="countDown">開幕まであと
  <span class="countDownText">
    <script language="JavaScript">
      var now = new Date();
      var point = new Date("2030/06/14");
      var countdown = Math.ceil((point.getTime() - now.getTime()) / (1000 * 60 * 60 * 24));
      if (countdown > 0) {
        document.write(countdown);
      }
    </script>
  </span>日。
</div>
<div class='select-reason-contents'>
    <h2 class='title'>
      FURIMAが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "sample.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに出品
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "sample.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "sample.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          手数料
          <span class='reason-list-blue-text'>業界最安</span>
        </h3>
        <p class='reason-list-description'>
          10%でお得に出品&購入！
        </p>
      </li>
    </ul>
  </div>



<p>Find me in app/views/lechoes/index.html.erb</p>
